img {
    border: 5px solid #505050;
}

.lista {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

img:hover {
    border: 6px solid #04AA6D;
}

.lista div {
    padding: 2px;
}